.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	min-height: 100vh;
	background-color: #d1d1d1d1;
	padding: 10px 20px;

	.actions {
		grid-column-start: 1;
		grid-column-end: 3;
		border: none;
		display: flex;
		justify-content: space-between;
	}
}
