.row {
	display: grid;
	grid-template-columns: minmax(150px, 2fr) 3fr 120px 1fr 1fr;
	gap: 15px;
	background-color: #ffebb4;

	&:nth-child(2n) {
		background-color: transparent;
	}

	&__cell {
		padding: 10px;
		font-size: 22px;
		letter-spacing: 1px;
		min-height: 110px;

		&.cell__select {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	select {
		font-size: 20px;
		background-color: #fff;
		text-align: center;
		height: 35px;
		cursor: pointer;

		option {
			font-size: 12px;
		}
	}
}
